/task1/.idea/misc.xml
/task1/.idea/modules.xml
/task1/.idea/task1.iml
/task1/.idea/workspace.xml
/task1/myauth/__init__.py
/task1/myauth/__pycache__/__init__.cpython-35.pyc
/task1/myauth/__pycache__/admin.cpython-35.pyc
/task1/myauth/__pycache__/form.cpython-35.pyc
/task1/myauth/__pycache__/models.cpython-35.pyc
/task1/myauth/__pycache__/settings.cpython-35.pyc
/task1/myauth/__pycache__/urls.cpython-35.pyc
/task1/myauth/__pycache__/views.cpython-35.pyc
/task1/mysite/__pycache__/__init__.cpython-35.pyc
/task1/mysite/__pycache__/urls.cpython-35.pyc
/task1/mysite/__pycache__/views.cpython-35.pyc
/task1/extuser/__pycache__/__init__.cpython-35.pyc
/task1/extuser/__pycache__/admin.cpython-35.pyc
/task1/extuser/__pycache__/forms.cpython-35.pyc
/task1/extuser/__pycache__/models.cpython-35.pyc
/task1/extuser/migrations/__pycache__/0001_initial.cpython-35.pyc
/task1/extuser/migrations/__pycache__/__init__.cpython-35.pyc
/task1/feedbacks/__pycache__/__init__.cpython-35.pyc
/task1/feedbacks/__pycache__/admin.cpython-35.pyc
/task1/feedbacks/__pycache__/forms.cpython-35.pyc
/task1/feedbacks/__pycache__/models.cpython-35.pyc
/task1/feedbacks/__pycache__/urls.cpython-35.pyc
/task1/feedbacks/__pycache__/views.cpython-35.pyc
/task1/feedbacks/migrations/__pycache__/0001_initial.cpython-35.pyc
/task1/feedbacks/migrations/__pycache__/__init__.cpython-35.pyc
/task1/task1/__pycache__/__init__.cpython-35.pyc
/task1/task1/__pycache__/settings.cpython-35.pyc
/task1/task1/__pycache__/urls.cpython-35.pyc
/task1/task1/__pycache__/wsgi.cpython-35.pyc
/task1/extuser/migrations/__pycache__/0002_auto_20161005_2155.cpython-35.pyc
/task1/extuser/migrations/__pycache__/0003_auto_20161005_2157.cpython-35.pyc
/task1/feedbacks/migrations/__pycache__/0002_auto_20161005_2155.cpython-35.pyc
/task1/visits/migrations/__pycache__/0001_initial.cpython-35.pyc
/task1/visits/migrations/__pycache__/0002_auto_20161009_0818.cpython-35.pyc
/task1/visits/migrations/__pycache__/0003_auto_20161009_0904.cpython-35.pyc
/task1/visits/migrations/__pycache__/0004_auto_20161009_0916.cpython-35.pyc
/task1/visits/migrations/__pycache__/0005_day_anonimous_visits_count.cpython-35.pyc
/task1/visits/migrations/__pycache__/__init__.cpython-35.pyc
/task1/visits/__pycache__/__init__.cpython-35.pyc
/task1/visits/__pycache__/admin.cpython-35.pyc
/task1/visits/__pycache__/models.cpython-35.pyc
/task1/visits/__pycache__/urls.cpython-35.pyc
/task1/visits/__pycache__/views.cpython-35.pyc
/task1/extuser/migrations/__pycache__/0004_extuser_visits_count.cpython-35.pyc
/task1/extuser/migrations/__pycache__/0005_remove_extuser_visits_count.cpython-35.pyc
/task1/visits/migrations/__pycache__/0006_auto_20161009_1103.cpython-35.pyc
/task1/visits/migrations/__pycache__/0007_auto_20161009_1243.cpython-35.pyc
/task1/visits/migrations/__pycache__/0008_visit_os.cpython-35.pyc
/task1/visits/migrations/__pycache__/0009_remove_visit_os.cpython-35.pyc
/task1/visits/migrations/__pycache__/0010_remove_visit_cookies.cpython-35.pyc
/.idea/WEB AND DHTML.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/task1/visits/migrations/__pycache__/0011_url.cpython-35.pyc
/task1/visits/migrations/__pycache__/0012_auto_20161123_1654.cpython-35.pyc
/task1/visits/migrations/__pycache__/0013_auto_20161123_1657.cpython-35.pyc
/task1/visits/migrations/__pycache__/0014_auto_20161123_1704.cpython-35.pyc
/task1/visits/migrations/__pycache__/0015_urls.cpython-35.pyc
/task1/visits/migrations/__pycache__/0016_visit_urls_text.cpython-35.pyc
/task1/visits/migrations/__pycache__/0017_auto_20161124_1527.cpython-35.pyc
/task1/visits/migrations/__pycache__/0018_auto_20161124_1542.cpython-35.pyc
/task1/visits/migrations/__pycache__/0019_auto_20161124_1544.cpython-35.pyc
/task1/mysite/static/files/1.jpg
/task1/mysite/static/files/2.jpg
/task1/mysite/static/files/3.jpg
/task1/mysite/static/files/4.jpg
/task1/mysite/static/files/5.jpg
/task1/mysite/static/files/6.jpg
/task1/task1/qwe.py
/task1/gallery/__pycache__/admin.cpython-35.pyc
/task1/gallery/__pycache__/models.cpython-35.pyc
/task1/gallery/__pycache__/urls.cpython-35.pyc
/task1/gallery/__pycache__/views.cpython-35.pyc
/task1/gallery/migrations/__pycache__/0001_initial.cpython-35.pyc
/task1/gallery/migrations/__pycache__/__init__.cpython-35.pyc
/task1/gallery/migrations/__pycache__/0002_like.cpython-35.pyc
