<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/1.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="script" href="/static/js/visits.js">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                {% if user.is_authenticated %}
                    <li class="greetings">Приветствую тебя, {{ user }}</li>
                    <li class="menu-item"><a href="/auth/logout">Выйти</a></li>
                {% else %}
                    <li class="menu-item"><a href="/auth">Войти</a></li>
                    <li class="menu-item"><a href="/auth/registration">Регистрация</a></li>
                {% endif %}
                <li class="menu-item"><a href="/">Главная</a></li>
                <li class="menu-item"><a href="/about">Обо мне</a></li>
                <li class="menu-item"><a href="/links">Ссылочки</a></li>
                <li class="menu-item"><a href="/gallery">Картиночки</a></li>
                <li class="menu-item"><a href="/contacts">Контактики</a></li>
                <li class="menu-item"><a href="/feedbacks">Фидбеки</a></li>
                <li class="menu-item"><a href="/feedbacks/new/">Ваш фидбек</a></li>
            </ul>
        </nav>
    </header>

    {% if js %}
        <script>
            alert('{{ js }}');
        </script>
    {% endif %}

    <div class="main_content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function ajaxGet(path)
        {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', path, false);
            xhr.send();
            return xhr.responseText;
        }

        var d = document.createElement('div');
        d.innerHTML = 'Уникальных посещений: ' + ajaxGet('/visits');
        d.className = 'visits';
        document.body.appendChild(d);
    </script>

    <footer>
        Powered by Django 1.10 by Misha Levshin
    </footer>
</body>
</html>