{% extends 'base.html' %}

{% block content %}

    <div class="gallery_cash" id="gallery_cash"></div> <!-- Чтобы предзагружать картинки -->

    <link rel="stylesheet" href="/static/css/gallery.css">

    <script src="/static/js/gallery.js"></script>

    <div class="gallery_big_img_container" id="gallery_big_img_container">
        <div class="gallery_big_img_content" id="gallery_big_img_content">
            <div class="big_img_wrapper" id="big_img_wrapper">
                <img class='gallery_big_img' id="gallery_big_img" onload="bigImgOnLoad()" alt="*" src="#">
            </div>
            <div class="comments" id="comments"></div>
            <div class="new_comment">
                <textarea id="new_comment_text"></textarea>
                <br>
            </div>
            <div class="buttons">
                <button id="button_make_img_background">Сделать Фоном</button>
                <button onclick="addComment()">Добавить комментарий</button>
                <button onclick="closeBigImage()">Закрыть</button>
                <button onclick="like()" id='like_button'>Лайкнуть</button>
            </div>
        </div>
    </div>

    <div class="help" id="help">Здесь должен быть хелп. Если вы видите эту надпись, значит у вас не работает javascript</div>

    <script>hideHelp();</script>

    <div class="gallery" id="gallery">
        <script src="/static/js/after_gallery_scripts.js"></script>
        {% for url in urls %}
            <img class="gallery_img" src="{{ url.0 }}" alt="cant load this image" id="{{ url.1 }}" onclick="imgOnClick('{{ url.1 }}')">
        {% endfor %}
        <br>
        <button class="xls_button" onclick="downloadXls()">Скачать галерею в xls формате</button>
    </div>

{% endblock %}