{% extends 'base.html' %}

{% block content %}

    <div class="gallery_cash" id="gallery_cash"></div>

    <link rel="stylesheet" href="/static/css/gallery.css">

    <div class="gallery_big_img_container" id="gallery_big_img_container">
        <div class="gallery_big_img_content" id="gallery_big_img_content">
            <div class="big_img_wrapper" id="big_img_wrapper">
                <img class='gallery_big_img' id="gallery_big_img" onload="bigImgOnLoad()">
            </div>
            <div class="big_img_buttons">
                <button onclick="alert(123)" id="button_make_img_background">Сделать Фоновым Изображением</button>
                <button onclick="closeBigImage()">Закрыть</button>
            </div>
        </div>
    </div>

    <div class="help" id="help">Здесь должен быть хелп. Если вы видите эту надпись, значит у вас не работает javascript</div>

    <script src="/static/js/gallery.js"></script>

    <div class="gallery" id="gallery">
        {% for url in urls %}
            <img class="gallery_img" src="{{ url.0 }}" alt="cant load this image" id="{{ url.1 }}" onclick="imgOnClick('{{ url.1 }}')">
        {% endfor %}
    </div>

    <script src="/static/js/after_gallery_scripts.js"></script>

{% endblock %}