{% extends 'base.html' %}

{% block content %}
    <script src="/static/js/gallery.js"></script>
    <p id="help">Здесь должен быть хелп. Если его тут нет, значит у вас не работает javascript</p>

    <div class="gallery" id="gallery">
        {% for url in urls %}
            <img class="gallery_img" src="{{ url.0 }}" alt="loading..." id="{{ url.1 }}" onclick="imgOnClick('{{ url.1 }}')">
        {% endfor %}
    </div>

    <div class="gallery_big_img_container" id="gallery_big_img_container">
        <img class='gallery_big_img' id="gallery_big_img">
        <br>
        <button>Сделать Фоновым Изображением</button>
        <button onclick="closeBigImage()">Закрыть</button>
    </div>
{% endblock %}