<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Однако, здравствуйте</title>
    <link rel="stylesheet" href="/static/css/game.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/js/game.js"></script>
</head>
<body>
    <div class="big_wrapper">
        <div class="wrapper left">
            <div class="block text" id="text">
                {{ stage.text }}
            </div>
            <br>
            <div class="choices" id="choices">
                {% for choice in choices %}
                    <div class="choice menu-item" title="{{ choice.title }}" onclick="makeChoice('{{ choice.stage_to.code_name }}')">{{ choice.text }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="wrapper right">
            <div class="block">
                <img src="{{ stage.img }}" id="img">
            </div>
            <div class="stats">
                <div class="menu-item">Сон : 146%;</div>
                <div class="menu-item">Настроение : 146%;</div>
                <div class="menu-item">Сытость : 146%;</div>
            </div>
        </div>
    </div>
</body>
</html>