{% extends 'base.html' %}

{% block content %}
    <script>
        a = []
        function go(e) {
            a.push(e.keyCode);
            console.info(e.keyCode);
            if (a.length >= 4)
                for (var i = a.length - 4; i < a.length; i++)
                {
                     if ((a[i] === 66 || a[i] === 98) && (a[i+1] === 115 || a[i+1] === 83) &&
                     (a[i+2] === 111 || a[i+2] === 79) && (a[i+3] === 68 || a[i+3] === 100))
                        {
                            document.body.innerHTML = '<img src = "https://4.bp.blogspot.com/-1B6pDVdUsxM/U_nFL3KZwxI/AAAAAAABJj4/buc9hzLBQwg/s0/BSOD%2Berror%2Bscreen_HD.jpg">';
                        }
                }
        }

        document.body.onkeypress = go;
    </script>
    <p>Напечатайте BSOD</p>
{% endblock content %}