body
{
    background: rgba(230, 230, 230, 1);

    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
}

.content
{
    min-height: calc(100vh - 100px);
    min-width: 315px;
}

.main_content
{
    margin-top: -10px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.main_content p
{
    padding: 5px;
}

.cheater img
{
    width: 300px;
    height: 300px;
}


