body
{
    background: rgba(230, 230, 230, 1);
}

footer
{
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.main_content
{
    margin-left: 3%;
    margin-top: 1%;
}

.main_content p
{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 94%;
    background: white;
}

.gallery_img
{
    width: 128px;
    height: 128px;
    display: inline-block;
    margin: 10px;
}

.visits
{
    position: absolute;
    bottom: 10px;
    left: 10px;
}