body
{
    background: rgba(230, 230, 230, 1);
}

.content
{
    min-height: calc(101vh - 135px);
    min-width: 315px;
}

.main_content
{
    margin-top: -10px;
}

.main_content p
{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
}

.cheater img
{
    width: 300px;
    height: 300px;
}