.gallery_img
{
    width: 150px;
    height: 150px;
    cursor: pointer;
    align-self: baseline;
    display: inline-block;
}

.gallery
{
    font-size: 0;
    min-width: 300px;
    margin-bottom: 5px;
}

.gallery_big_img
{
    max-height: 75vh;
    max-width: 90vw;
    display: inline-block;
    min-width: 300px;
    min-height: 225px;
}

.big_img_wrapper
{
    background: url('/static/files/loading.gif') center center no-repeat;
    background-size: calc(100% - 1px) calc(100% - 2px);
    display: inline-block;
    height: auto;
    max-width: 90vw;
    margin-bottom: 3px;
}

.gallery_big_img_container
{
    display: none;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 315px;
    flex-flow: column wrap;
    justify-content: center;
}

.gallery_big_img_content
{
    text-align: center;
    line-height: 0;
    padding: 25px 0;
    z-index: 100;
}

.gallery_big_img_container:before
{
    content: '';
    background: rgba(0,0,0,0.5);
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 0;

}

.main_content p
{
    margin: 0 -5px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.main_content
{
    background: rgba(255, 255, 255, 0);
    padding: 0;
    min-width: 300px;
}

.help
{
    width: 590px;
    background: rgba(255, 255, 255, 0.8);
    margin-right: -5px;
    margin-bottom: 5px;
    padding: 5px;
}

.gallery_cash
{
    display: none;
}

textarea
{
    width: calc(90vw - 6px);
    height: 100px;
    resize: none;
}

.comments
{
    line-height: 1;
    display: block;
    margin: auto;
    width: 90vw;
    min-width: 300px;
    margin-bottom: 2px;
}

.comment
{
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-width: 300px;

    margin-bottom: 1px;
}

.comment_author
{
    display: inline-block;
    width: 100px;
    padding: 5px;
    line-height: 25px;
}

.comment_text
{
    display: inline-block;
    width: calc(100% - 125px);
    padding: 5px;
}

button
{
    width: 22.5vw;
    padding: 5px;
}

.xls_button
{
    margin-top: 3px;
    width: 600px;
}

.new_comment
{
    width: 90vw;
    margin: auto;

}

.buttons
{
    width: 90vw;
    margin: auto;
    font-size: 0;
}

button a
{
    text-decoration: none;
    color: black;
    display: block;
}