.gallery_img
{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: -2px;
}

@media(max-width: 500px)
{
    .gallery_img
    {
        width: 100px;
        height: 100px;
    }
}

.gallery
{
    margin-top: -15px;
    margin-right: 0;
    margin-left: -4px;
}

.gallery_big_img
{
    background: #555 url('/static/files/loading.gif') center center no-repeat;
    max-height: 75vh;
}

.loading_img
{
    display: none;
}

.gallery_big_img_container
{
    display: none;
    width: 100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top: 0px;
    left: 0px;
}

.gallery_big_img_content
{
    margin-left: 2px;
    text-align: center;
}

.main_content
{
    margin: 0;
    background: rgba(0, 0, 0, 0);
}