.gallery_img
{
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
}

.gallery
{
    font-size: 0;
    margin-right: -4px;
}

@media(max-width: 500px)
{
    .gallery_img
    {
        width: 100px;
        height: 100px;
    }
}


.gallery_big_img
{
    width: 900px;
    background: #555 url('http://katushka.in.ua/templates/katushka2/images/ajax-loader.gif') center center no-repeat;
}

@media(max-width: 915px)
{

    .gallery_big_img
    {
        width: 600px;
    }
}


@media(max-width: 615px)
{

    .gallery_big_img
    {
        width: 450px;
    }
}

@media(max-width: 500px)
{

    .gallery_big_img
    {
        width: 300px;
    }
}



.help
{
    display: block;
}

.gallery_big_img_container
{
    display: none;
    width:104%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top: 0px;
    left: 0px;
}
.gallery_big_img_content
{
    margin-top: 54px;
    margin-left: 8px;
    width: auto;
    height: auto;
}

@media(max-width: 1358px)
{

    .gallery_big_img_content
    {
        margin-top: 100px;
    }
}

@media(max-width: 758px)
{

    .gallery_big_img_content
    {
        margin-top: 150px;
    }
}

@media(max-width: 500px)
{

    .gallery_big_img
    {
        width: 300px;
    }

    .gallery_big_img_content
    {
        margin-top: 146px;
    }
}