header
{
    width: auto;
    margin-left: -8px; /* для того чтобы не было отступа от границы экрана */
    margin-top: -16px; /* для того чтобы не было отступа от границы экрана */
    margin-right: -8px; /* для того чтобы не было отступа от границы экрана */
    background: rgba(69, 104, 142, 1);
    color: white;
    display: block;
}

.menu
{
    margin-left: -16px;
    margin-right: 20px;
}

nav
{
    text-align: left;
}

.greetings
{
    text-align: center;
    display: inline-block;
    width: 150px;
}

.menu-item
{
    text-align: center;
    display: inline-block;
    width: 150px;
}

.menu-item:hover
{
    background: rgba(79, 124, 172, 1);
}

.menu-item a
{
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12;
}

@media(max-width: 525px)
{
    .menu-item
    {
        width: 100px;

    }

    .greetings
    {
        width: 100px;
    }
}