@media(max-width: 1359px)
{
    .header_background
    {
        height: calc(48px * 2);
    }
}

@media(max-width: 780px)
{
    .header_background
    {
        height: calc(48px * 3);
    }

    body
    {
        width: calc(75vw + 10px);
    }

    .menu-item
    {
        width: 25vw;
        min-width: 100px;
        font-size: 11pt;
    }

    .gallery_img
    {
        width: 25vw;
        height: 25vw;
        min-width: 100px;
        min-height: 100px;
    }

    .help
    {
        width: calc(75vw - 10px);
        min-width: 290px;
    }

    footer img
    {
        width: 50vw;
        min-width: 200px;
    }

    .gallery
    {
        width: 75vw;
    }
}